html {
    font-family: sans-serif;
    font-size: 14px;
}

.List {
    border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListItemEven {
    background-color: #f8f8f0;
}  

.formHeader{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: left;
    float: left;
}

.contentArea{
    height: 800px;
}

.footerStyle{
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 20px;
    background-color: #c0ae5c;
    height: 89px;
}

.headStyle{
    font-size: 38px;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    background-color : #c0ae5c;
    height: 80px;
}

.formTitle{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navLinks{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-top: 20px;
    padding-left: 20px;
    color: lightskyblue;
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}